[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sirajm2326
[access "refs/for/refs/*"]
	read = group user/sirajm2326
	push = group user/sirajm2326
	label-Code-Review = -2..+2 group user/sirajm2326
	label-Verified = -1..+1 group user/sirajm2326
	rebase = group user/sirajm2326
	removeReviewer = group user/sirajm2326
	submit = group user/sirajm2326
[access "refs/heads/*"]
	read = group user/sirajm2326
	create = group user/sirajm2326
	push = +force group user/sirajm2326
	pushMerge = group user/sirajm2326
[access "refs/tags/*"]
	push = group user/sirajm2326
	push = +force group user/sirajm2326
